@keyframes starry-sky {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(0, -500px);
    }
}
/*
.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../Images/stars.png');
    animation: starry-sky 100s linear infinite;
    z-index: 0;
    opacity: 0.5;
}
*/